.filter__container {
  display: flex;
  justify-content: space-evenly;
  border: 1px var(--color-text) solid;
  margin: 10px 0;
}
.filter__part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search__part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  width: 50%;
}
